<template name="loginWindow">
    <div id="loginContainer" class="login-container">
        {{#if showLogin}}
            {{> loginForm}}
        {{else}}
            {{> createAccountForm}}
        {{/if}}
        <div id="loginTab" class="{{#if showLogin}}login-leftswitch-selected{{else}}login-leftswitch-deselected{{/if}}">
            Login
        </div>
        <div id="createAccountTab"
             class="{{#if showLogin}}login-rightswitch-deselected{{else}}login-rightswitch-selected{{/if}}">
            Create Account
        </div>
    </div>
</template>

<template name="loginForm">
    <div id="loginDiv" style="margin-top:30px;" class="animated fadeIn">
        <form id="loginForm">
            <input id="emailTextBox" type="text" class="login-textbox hvr-grow" placeholder="Cal Poly Email"/>
            <input id="passwordTextBox" type="password" class="login-textbox hvr-grow" placeholder="Password"/>
            <input id="loginButton" type="submit" class="login-button hvr-hang" value="Login"/>
        </form>
    </div>
</template>

<template name="createAccountForm">
    <div id="createAccountDiv" style="margin-top:0px;" class="animated fadeIn">
        <form id="createAccountForm">
            <input id="emailTextBox" type="text" class="login-textbox hvr-grow" placeholder="@calpoly.edu"/>
            <input id="passwordTextBox" type="password" class="login-textbox hvr-grow" placeholder="Password"/>
            <input id="confirmPasswordTextBox" type="password" class="login-textbox hvr-grow"
                   placeholder="Confirm Password"/>
            <input id="createAccountButton" type="submit" class="login-button hvr-hang" value="Create Account"/>
        </form>
    </div>
</template>