<head>
    <title>PolyExchange</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
</head>
<body background="/media/background.png">



{{#if currentUser}}
    {{> headBar}}
    {{#if ready}}
        {{#if window1Visible}}
            {{> rideShareDragBox}}
        {{/if}}
        {{> textBookDragBox}}
        {{> marketPlaceDragBox}}
    {{/if}}
{{else}}
    {{> loginWindow}}
{{/if}}

</body>


<template name="rideShareDragBox">
    <div id='window1' class="draggable drag-container">
        <button style="left:0" id="closeButton">X</button>
    </div>
</template>

<template name="textBookDragBox">
    <div id='window2' class="draggable drag-container">

    </div>
</template>

<template name="marketPlaceDragBox">
    <div id='window3' class="draggable drag-container">

    </div>
</template>